.all-sv-row{
  margin-left: -37% !important;
  margin-top:150px !important;
}
.all-sv-card {
  position: relative;
}
.ceda-intro{
  position: absolute;
  top: 33%;
  left: 5%;
  right: 5%;
}
.all-sv-icons-div {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 30%;
  left: 3%;
  display:flex;
  align-items: center;
  justify-content: center;
  border: 3px solid silver;
  transition: background-color 0.5s;
}
.sv-slide-div{
  position:relative;
}
.all-sv-card:hover .all-sv-icons-div {
  background-color: #218c74;
  border: #218c74
}
.all-sv-card:hover .all-sv-icons-div svg{
  color: white !important;
}
.active-page{
  background-color: #00b894;
  color: white;
}
.inactive-page{
  background-color: rgb(184, 183, 183);
  color:  #00b894;
}
.inactive-page :hover{
  background-color: #00b894;
  color: white;
}
.all-sv-banner{
  margin-top: 150px !important;
  margin-left: 1% !important;
  color: white;
  font-weight: bold;
}
.all-sv-card{
  width: 350px;
  height:250px !important;
  position: relative
}
.all-sv-card :hover svg{
  color: #00b894;
}
.slick-prev:before,
.slick-next:before {
 display:none
}
.slick-prev {
  left: -5% !important;
}
.ip-intro{
  text-align: center;
  font-size: x-large;
  margin-top: 10%;
  color: black;
  font-weight: 800;
}
.rotate-icon:hover {
  transform: rotateY(180deg) !important;
}

.slick-next {
  right: -3% !important;
}
.slick-main-div{
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.slick-prev:hover:before,
.slick-next:hover:before {
  background-color:#16a085/* Change background color to green on hover */
}
.slick-item{
  height: 10vh;
  width: 15vw !important;
  justify-content: center;
  display:flex;
  margin-left: 30% !important;
  align-items: center;
}
.footer-main{
  background: #16a085;
  padding-bottom: 5%;
  padding-top:5%;
}
.intro-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.intro-cards:hover {
  transform: translateY(5px) scale(1.1); /* Adjust the values for desired effect */
  top: -5px;
  transition: transform 0.9s, top 0.9s;
  color: #2ed573;
}
.col-hov :hover{
  background: #f1f2f6;
}
.home-bt{
  border-radius: 20px;
  margin: 0% 2% 0% 2%;
  padding: 2% 5%;
  background-color: #fff;
  width: 220px;
  font-weight: 600;
  
}
.home-bt:hover{
background-color: #00a72ae5;
color: #fff;
}
.landing-img-div{
  display: flex !important;
  justify-content: center !important;
  position: relative !important;
}
.landing-details{
  position: relative;
  left:5%;
  top: 35%;
}
.navigation-inactive {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #00c056e5;
  z-index: 1;
}
.items{
  background-color: rebeccapurple !important;
}
.navigation-inactive .nav-link{
  color: white !important;
  font-weight: 600;
}
.navigation-active .nav-link{
  color: black !important;
  font-weight: 400;
}
.navigation-active{
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: white;
}
.service-card{
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top:5% ;
  padding-bottom: 4%;
  height: 350px !important;
}
.services-div{
  height: fit-content;
  position: relative;
  margin-left: 7%;
  margin-right: 15px;
}
.service-icon-div{
  height: fit-content;
  background-color: #00a72ae5;
  width: 350px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  position: relative;
  align-items:center ;
  justify-content: center;
}
/* smaller devices */
@media(max-width:1108px){
 .all-sv-row{
  margin-left: 0% !important;
 }
 .sv-slide-div{
  margin-top: 70vh;
 }
 .ceda-intro{
  margin-top: 10%;
  width: 100vw;
  height: 70vh;
  position: absolute;
  margin-left: 2%;
 }
  .teams-img{
    left: 30%;
  }
  .all-sv-row{
    margin-left: 2% !important;
  }
  .all-sv-card{
    width: 400px !important;
  }
  .all-sv-banner{
    display: none !important;
  }
  .landing-img-div{
  display: none !important;
}
.landing-details{
  top:100px;
  position: relative;
}
.services-div{
  margin-top: 20%;
  margin-left: 5%;
}
.service-card{
  width: 90vw;
  height: 70px;
}
.service-icon-div{
  width: 90vw;
}
}
@media(max-width:880px){
 .all-sv-banner{
  display: none !important;
 }
 .sv-slide-div{
  margin-top: 70vh;
 }
 .ceda-intro{
  margin-top: 100px !important;
 }
 .all-sv-card{
  width: 93vw !important;
 }
  .service-card{
    width: 95vw !important;
  }
  .service-icon-div{
    width: 95vw;
  }
  .services-div{
    margin-left: 2%;
  }
  .all-sv-row{
    margin-left: 0% !important;
  }
}
